<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Administradores</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="animated fadeInDown">
                <div class="ibox float-e-margins">
	                <div class="ibox-title">
	                    <h5>Listado</h5>
	                    <button class="btn btn-success pull-right" ng-click="add()"><i class="fa fa-plus fa-fw"></i>Agregar usuario</button>
	                	<div class="clearfix"></div>
	                </div>
	                <div class="ibox-content table-responsive">
	                    <table datatable="ng" dt-options="data.dtOptions" dt-column-defs="data.dtColumnDefs" class="table table-striped table-hover">
	                        <thead>
	                            <tr>
	                                <th>Nombre</th>
	                                <th>Correo</th>
	                                <th>Fecha de alta</th>
	                                <th></th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="administrator in data.administrators">
	                                <td>{{administrator.name}}</td>
	                                <td>{{administrator.email}}</td>
	                                <td>{{administrator.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</td>
	                                <td>
	                                	<div class="btn-group btn-group-xs" dropdown>
								            <button type="button" class="btn btn-primary" dropdown-toggle>
								            	Opciones&nbsp;
								            	<span class="fa fa-fw fa-caret-down"></span>
							            	</button>
								            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="split-button">
								                <li role="menuitem">
													<a href="" ng-click="edit(administrator)">
														<i class="fa fa-pencil fa-fw"></i>
														Editar
													</a>
												</li>
												<!--<li role="menuitem">
													<a href="" ng-click="reviewDetails(contract)">
														<i class="fa fa-trash fa-fw"></i>
														Eliminar
													</a>
												</li>-->
								            </ul>
								        </div>
	                                </td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>
	            </div>
            </div>
        </div>
    </div>
</div>