<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">Edición de cliente</h3>
</div>
<div class="modal-body">
	<div class="row" style="margin-top:20px;">
		<div class="col-md-12">
			<tabset>
				<tab>
					<tab-heading>Dirección principal</tab-heading>
					<div class="row">
						<div class="col-md-6 form-horizontal">
						
							<div class="form-group">
								<label for="clientName" class="col-sm-3 control-label">
									Nombre<br />
									<span class="text-info h6">Dato de facturación</span>
								</label>
								<div class="col-sm-7">
									<input type="text" id="clientName" name="clientName" class="form-control" ng-model="instance.data.client.name" />
								</div>
							</div>
							<div class="form-group">
								<label for="clientRfc" class="col-sm-3 control-label">
									RFC<br />
									<span class="text-info h6">Dato de facturación</span>
								</label>
								<div class="col-sm-7">
									<input type="text" id="clientRfc" name="clientRfc" class="form-control" ng-model="instance.data.client.rfc" />
								</div>
							</div>
							<div class="form-group">
								<label for="clientName" class="col-sm-3 control-label">Teléfono</label>
								<div class="col-sm-7">
									<input type="text" id="clientPhone" name="clientPhone" class="form-control" ng-model="instance.data.client.phone" />
								</div>
							</div>
							<div class="form-group">
								<label for="clientEmail" class="col-sm-3 control-label">Email</label>
								<div class="col-sm-7">
									<input type="text" id="clientEmail" name="clientEmail" class="form-control" ng-model="instance.data.client.email" />
								</div>
							</div>
							<div class="form-group">
								<label for="clientColony" class="col-sm-3 control-label">
									Colonia<br />
									<span class="text-info h6">Dato de facturación</span>
								</label>
								<div class="col-sm-7">
									<input type="text" id="clientColony" name="clientColony" class="form-control" ng-model="instance.data.client.colony" />
								</div>
							</div>
							<div class="form-group">
								<label for="clientColony" class="col-sm-3 control-label">
									Calle<br />
									<span class="text-info h6">Dato de facturación</span>
								</label>
								<div class="col-sm-7">
									<input type="text" id="clientAddress" name="clientAddress" class="form-control" ng-model="instance.data.client.address" />
								</div>
							</div>
						</div>
						<div class="col-md-6 form-horizontal">
							<div class="form-group">
								<label for="clientOutdoorNumber" class="col-sm-3 control-label">
									Número exterior<br />
									<span class="text-info h6">Dato de facturación</span>
								</label>
								<div class="col-sm-7">
									<input type="text" id="clientOutdoorNumber" name="clientOutdoorNumber" class="form-control" ng-model="instance.data.client.outdoor_number" />
								</div>
							</div>
							<div class="form-group">
								<label for="clientInsideNumber" class="col-sm-3 control-label">
									Número interior<br />
									<span class="text-info h6">Dato de facturación</span>
								</label>
								<div class="col-sm-7">
									<input type="text" id="clientInsideNumber" name="clientInsideNumber" class="form-control" ng-model="instance.data.client.inside_number" />
								</div>
							</div>
							<div class="form-group">
								<label for="clientColony" class="col-sm-3 control-label">Entre</label>
								<div class="col-sm-7">
									<input type="text" id="clientAddress" name="clientAddress" class="form-control" ng-model="instance.data.client.between_streets" />
								</div>
							</div>
							<div class="form-group">
								<label for="clientPostalCode" class="col-sm-3 control-label">
									Código postal<br />
									<span class="text-info h6">Dato de facturación</span>
								</label>
								<div class="col-sm-7">
									<input type="text" id="clientPostalCode" name="clientPostalCode" class="form-control" ng-model="instance.data.client.postal_code" />
								</div>
							</div>
							<div class="form-group">
								<label for="clientName" class="col-sm-3 control-label">Estado</label>
								<div class="col-sm-7">
									<input type="text" ng-model="instance.data.client.state" typeahead="state for state in instance.data.states | filter:$viewValue | limitTo:4"
									 class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="countyName" class="col-sm-3 control-label">
									Municipio<br />
									<span class="text-info h6">Dato de facturación</span>
								</label>
								<div class="col-sm-7">
									<input type="text" id="countyName" name="countyName" class="form-control" ng-model="instance.data.client.county" />
								</div>
							</div>
						</div>
						<hr>
						
						<div class="col-md-3 form-horizontal">
							<div class="form-group">
								<div class="col-sm-6" ng-if="instance.idUploader.queue.length < 1">
									<label for="input-files1" class="btn btn-primary">
										<i class="fa fa-file-image-o fa-fw fa-lg"></i>
										Subir ID
									</label>
									<input style="display:none;" type="file" id="input-files1" nv-file-select="" uploader="instance.idUploader" multiple /><br />
								</div>
						
								<div class="col-sm-6" ng-if="instance.idUploader.queue.length > 0">
									<div class="col-sm-12" style="margin-bottom: 20px" ng-repeat="item in instance.idUploader.queue">
										<div ng-show="instance.idUploader.isHTML5" ng-thumb="{ file: item._file, height: 200}">
										</div>
										<strong><small>{{ item.file.name }}</small></strong><br />
										<!--<h4>{{ item.file.size/1024/1024|number:2 }} MB</h4>-->
										<button type="button" class="btn btn-danger" ng-click="item.remove()">
											<span class="glyphicon glyphicon-trash"></span> Borrar
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 form-horizontal">
							<div class="form-group">
								<div class="col-sm-6" ng-if="instance.id_reverseUploader.queue.length < 1">
									<label for="input-files2" class="btn btn-primary">
										<i class="fa fa-file-image-o fa-fw fa-lg"></i>
										Subir ID (atras)
									</label>
									<input style="display:none;" type="file" id="input-files2" nv-file-select="" uploader="instance.id_reverseUploader"
									 multiple />
									<br />
								</div>
						
								<div class="col-sm-6" ng-if="instance.id_reverseUploader.queue.length > 0">
									<div class="col-sm-12" style="margin-bottom: 20px" ng-repeat="item in instance.id_reverseUploader.queue">
										<div ng-show="instance.id_reverseUploader.isHTML5" ng-thumb="{ file: item._file, height: 200}">
										</div>
										<strong>
											<small>{{ item.file.name }}</small>
										</strong>
										<br />
										<!--<h4>{{ item.file.size/1024/1024|number:2 }} MB</h4>-->
										<button type="button" class="btn btn-danger" ng-click="item.remove()">
											<span class="glyphicon glyphicon-trash"></span> Borrar
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 form-horizontal">
							<div class="form-group">
								<div class="col-sm-6" ng-if="instance.addressUploader.queue.length < 1">
									<label for="input-files3" class="btn btn-primary">
										<i class="fa fa-file-image-o fa-fw fa-lg"></i>
										Subir comprobante de domicilio
									</label>
									<input style="display:none;" type="file" id="input-files3" nv-file-select="" uploader="instance.addressUploader"
									 multiple />
									<br />
								</div>
						
								<div class="col-sm-6" ng-if="instance.addressUploader.queue.length > 0">
									<div class="col-sm-12" style="margin-bottom: 20px" ng-repeat="item in instance.addressUploader.queue">
										<div ng-show="instance.addressUploader.isHTML5" ng-thumb="{ file: item._file, height: 200}">
										</div>
										<strong>
											<small>{{ item.file.name }}</small>
										</strong>
										<br />
										<!--<h4>{{ item.file.size/1024/1024|number:2 }} MB</h4>-->
										<button type="button" class="btn btn-danger" ng-click="item.remove()">
											<span class="glyphicon glyphicon-trash"></span> Borrar
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 form-horizontal">
							<div class="form-group">
								<div class="col-sm-6" ng-if="instance.profileUploader.queue.length < 1">
									<label for="input-files4" class="btn btn-primary">
										<i class="fa fa-file-image-o fa-fw fa-lg"></i>
										Subir Perfil
									</label>
									<input style="display:none;" type="file" id="input-files4" nv-file-select="" uploader="instance.profileUploader"
									 multiple />
									<br />
								</div>
						
								<div class="col-sm-6" ng-if="instance.profileUploader.queue.length > 0">
									<div class="col-sm-12" style="margin-bottom: 20px" ng-repeat="item in instance.profileUploader.queue">
										<div ng-show="instance.profileUploader.isHTML5" ng-thumb="{ file: item._file, height: 200}">
										</div>
										<strong>
											<small>{{ item.file.name }}</small>
										</strong>
										<br />
										<!--<h4>{{ item.file.size/1024/1024|number:2 }} MB</h4>-->
										<button type="button" class="btn btn-danger" ng-click="item.remove()">
											<span class="glyphicon glyphicon-trash"></span> Borrar
										</button>
									</div>
								</div>
							</div>
						</div>
						
						<hr>
						<div class="col-md-12">
							<div class="form-group">
								<label for="clientExtraData" class="col-sm-3 control-label">
									Datos extra (para Staff)
								</label>
								<textarea type="text" id="clientExtraData" name="clientExtraData" class="form-control" ng-model="instance.data.client.extra_data"
								 rows="6"></textarea>
							</div>
						</div>
					</div>
				</tab>
				<tab>
					<tab-heading>Dirección Facturación</tab-heading>
					<div class="col-md-6 form-horizontal">
					
						<div class="form-group">
							<label for="clientName" class="col-sm-3 control-label">
								Razón Social<br />
								<span class="text-info h6">Dato de facturación</span>
							</label>
							<div class="col-sm-7">
								<input type="text" id="clientName" name="clientName" class="form-control" ng-model="instance.data.client.invoice.name" />
							</div>
						</div>
						<div class="form-group">
							<label for="clientRfc" class="col-sm-3 control-label">
								RFC<br />
								<span class="text-info h6">Dato de facturación</span>
							</label>
							<div class="col-sm-7">
								<input type="text" id="clientRfc" name="clientRfc" class="form-control" ng-model="instance.data.client.invoice.rfc" />
							</div>
						</div>
						<div class="form-group">
							<label for="clientEmail" class="col-sm-3 control-label">Email</label>
							<div class="col-sm-7">
								<input type="text" id="clientEmail" name="clientEmail" class="form-control" ng-model="instance.data.client.invoice.email" />
							</div>
						</div>
						
						<div class="form-group">
							<label for="clientColony" class="col-sm-3 control-label">
								Colonia<br />
								<span class="text-info h6">Dato de facturación</span>
							</label>
							<div class="col-sm-7">
								<input type="text" id="clientColony" name="clientColony" class="form-control" ng-model="instance.data.client.invoice.colony" />
							</div>
						</div>
						<div class="form-group">
							<label for="clientColony" class="col-sm-3 control-label">
								Calle<br />
								<span class="text-info h6">Dato de facturación</span>
							</label>
							<div class="col-sm-7">
								<input type="text" id="clientAddress" name="clientAddress" class="form-control" ng-model="instance.data.client.invoice.address" />
							</div>
						</div>
					</div>
					<div class="col-md-6 form-horizontal">
						<div class="form-group">
							<label for="clientOutdoorNumber" class="col-sm-3 control-label">
								Número exterior<br />
								<span class="text-info h6">Dato de facturación</span>
							</label>
							<div class="col-sm-7">
								<input type="text" id="clientOutdoorNumber" name="clientOutdoorNumber" class="form-control" ng-model="instance.data.client.invoice.outdoor_number" />
							</div>
						</div>
						<div class="form-group">
							<label for="clientInsideNumber" class="col-sm-3 control-label">
								Número interior<br />
								<span class="text-info h6">Dato de facturación</span>
							</label>
							<div class="col-sm-7">
								<input type="text" id="clientInsideNumber" name="clientInsideNumber" class="form-control" ng-model="instance.data.client.invoice.inside_number" />
							</div>
						</div>
						<div class="form-group">
							<label for="clientColony" class="col-sm-3 control-label">Entre</label>
							<div class="col-sm-7">
								<input type="text" id="clientAddress" name="clientAddress" class="form-control" ng-model="instance.data.client.invoice.between_streets" />
							</div>
						</div>
						<div class="form-group">
							<label for="clientPostalCode" class="col-sm-3 control-label">
								Código postal<br />
								<span class="text-info h6">Dato de facturación</span>
							</label>
							<div class="col-sm-7">
								<input type="text" id="clientPostalCode" name="clientPostalCode" class="form-control" ng-model="instance.data.client.invoice.postal_code" />
							</div>
						</div>
						<div class="form-group">
							<label for="clientName" class="col-sm-3 control-label">Estado</label>
							<div class="col-sm-7">
								<input type="text" ng-model="instance.data.client.invoice.state" typeahead="state for state in instance.data.states | filter:$viewValue | limitTo:4"
								 class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label for="countyName" class="col-sm-3 control-label">
								Municipio<br />
								<span class="text-info h6">Dato de facturación</span>
							</label>
							<div class="col-sm-7">
								<input type="text" id="countyName" name="countyName" class="form-control" ng-model="instance.data.client.invoice.county" />
							</div>
						</div>
					</div>
				</tab>
			</tabset>
		</div>
		
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-info" style="border-radius:0px;" ng-click="instance.editClient(instance.data.client)"><i class="fa fa-floppy-o fa-lg fa-fw"></i>&nbsp; Actualizar cliente</button>
	<button type="button" class="btn btn-danger" ng-click="instance.close()">Cancelar</button>
</div>