<div class="modal-header">
  <button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  <h3 class="modal-title">Grupo</h3>
</div>
<div class="modal-body">
  <div class="row" style="margin-top:20px;">
    <form class="form-horizontal" name="addGroupForm" novalidate>
      <h3>Precios Propios</h3>
      <div class="form-group" show-errors='{showSuccess: true}'>
        <label for="name" class="col-sm-3 control-label">Nombre</label>
        <div class="col-sm-7">
          <input type="text"
                 id="name"
                 name="name"
                 class="form-control"
                 ng-model="instance.data.group.name"
                 required>
          <p class="help-block" ng-if="addGroupForm.name.$error.required">El nombre es requerido</p>
        </div>
      </div>
      <div class="form-group" show-errors='{showSuccess: true}'>
        <label for="deposit" class="col-sm-3 control-label">Depósito</label>
        <div class="col-sm-7">
          <div class="input-group m-b">
            <span class="input-group-addon">$</span>
            <input
              type="number"
              min="{{(instance.data.group.trial_days_price >= 100 ||  instance.data.group.installation_fee >= 100)  ? 0 : 100 }}"
              id="deposit"
              name="deposit"
              class="form-control"
              ng-model="instance.data.group.deposit"
              required/>
          </div>
          <p class="help-block" ng-if="addGroupForm.deposit.$error.required">El depósito es requerido</p>
          <p class="help-block" ng-if="addGroupForm.deposit.$error.min">La cantidad mínima son $100.00</p>
        </div>
      </div>
      <div class="form-group" show-errors='{showSuccess: true}'>
        <label for="elementPrice" class="col-sm-3 control-label">Cuota de instalación</label>
        <div class="col-sm-7">
          <div class="input-group m-b">
            <span class="input-group-addon">$</span>
            <input
              type="number"
              min="{{(instance.data.group.deposit >= 100 ||  instance.data.group.trial_days_price >= 100)  ? 0 : 100 }}"
              id="installation_fee"
              name="installation_fee"
              class="form-control"
              ng-model="instance.data.group.installation_fee"
              required/>
          </div>
          <p class="help-block" ng-if="addGroupForm.installation_fee.$error.required">La cuota de instalación es
            requerida</p>
          <p class="help-block" ng-if="addGroupForm.installation_fee.$error.min">La cantidad mínima son $100.00</p>
        </div>
      </div>
      <div class="form-group" show-errors='{showSuccess: true}'>
        <label for="trial_days" class="col-sm-3 control-label">Promoción</label>
        <div class="col-sm-7">
          <div class="input-group m-b">
            <input
              type="number"
              min="0"
              id="trial_days"
              name="trial_days"
              class="form-control"
              ng-model="instance.data.group.trial_days"
              required
            />
            <span class="input-group-addon">días a $</span>
            <input
              type="number"
              min="{{(instance.data.group.deposit >= 100 ||  instance.data.group.trial_days >= 100)  ? 0 : 100 }}"
              id="trial_days_price"
              name="trial_days_price"
              class="form-control"
              ng-model="instance.data.group.trial_days_price"
              required
            />
          </div>
          <p class="help-block" ng-if="addGroupForm.trial_days.$error.required">El número de dias es requerido</p>
          <p class="help-block" ng-if="addGroupForm.trial_days.$error.min">La cantidad mínima son 0</p>
          <p class="help-block" ng-if="addGroupForm.trial_days_price.$error.required">El monto de promoción es
            requerido</p>
          <p class="help-block" ng-if="addGroupForm.trial_days_price.$error.min">La cantidad mínima son $100.00</p>
        </div>
      </div>
      <div class="form-group" show-errors='{showSuccess: true}'>
        <label for="monthly_fee" class="col-sm-3 control-label">Cuota mensual</label>
        <div class="col-sm-7">
          <div class="input-group m-b">
            <span class="input-group-addon">$</span>
            <input
              type="number"
              min="3"
              id="monthly_fee"
              name="monthly_fee"
              class="form-control"
              ng-model="instance.data.group.monthly_fee"
              required/>
          </div>
          <p class="help-block" ng-if="addGroupForm.monthly_fee.$error.required">La cuota mensual es requerida</p>
          <p class="help-block" ng-if="addGroupForm.installation_fee.$error.required">La cantidad mínima son $3.00</p>
        </div>
      </div>
      <div class="hr-line-dashed"></div>
      <h3>Grupo para ventas</h3>
      <div class="form-group" show-errors='{showSuccess: true}'>
        <label for="sign_into" class="col-sm-3 control-label">Nombre</label>
        <div class="col-sm-4">
          <input
            type="text"
            class="form-control"
            autocomplete="off"
            id="sign_into"
            name="sign_into"
            ng-model="instance.data.group.sign_into"
            typeahead="_group as _group.name for _group in instance.data.groups | filter:$viewValue | limitTo:4"
            required>
          <p class="help-block" ng-if="addGroupForm.sign_into.$error.required">El grupo para los referidos es
            obligatorio</p>
        </div>
        <div class="col-sm-5 h5">
          <dl class="dl-horizontal">
            <dt>Nombre</dt>
            <dd>{{instance.data.group.sign_into.name}}</dd>
            <dt>Fecha alta</dt>
            <dd>{{instance.data.group.sign_into.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD
              MMM YYYY HH:mm:ss'}}
            </dd>
            <dt>Depósito</dt>
            <dd>{{instance.data.group.sign_into.deposit | currency:'$':2}}</dd>
            <dt>Cuota de instalación</dt>
            <dd>{{instance.data.group.sign_into.installation_fee | currency:'$':2}}</dd>
            <dt>Cuota mensual</dt>
            <dd>{{instance.data.group.sign_into.monthly_fee | currency:'$':2}}</dd>
            <dt>Grupo para ventas</dt>
            <dd>{{(instance.data.groups | filter:{'id_groups':instance.data.group.sign_into.id_groups}:true)[0].name}}
            </dd>
          </dl>
          <!--<pre>{{instance.data.groups | json}}</pre>-->
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="hr-line-dashed"></div>
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
          <button class="btn btn-primary" type="button" ladda="instance.data.loading" data-style="zoom-in"
                  data-spinner-color="#3e495f" data-spinner-size="20"
                  ng-click="instance.save(addGroupForm, instance.data.group)">
            <i class="fa fa-floppy-o fa-fw"></i>
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="instance.close()">Cancelar</button>
</div>
