<style>
	.dataTables_wrapper {
		margin-bottom: 0px !important;
	}
</style>
<div class="modal-header" style="font-size:12px;">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
	<h3 class="modal-title">{{instance.data.client.name}}</h3>
	<div class="row" style="margin-top:30px;">
	    <div class="col col-md-6">
	        <b>Dirección:</b>
	            </span>
	                {{instance.data.client.address}} #{{instance.data.client.outdoor_number}} {{instance.data.client.inside_number}} Col. {{instance.data.client.colony}} C.P. {{instance.data.client.postal_code}} {{instance.data.client.county}}, {{instance.data.client.state}}
	            </span>
	        <br/>
	        <b>Teléfono: </b></span>{{instance.data.client.phone}}</span><br/>
	        <b>Email: </b></span>{{instance.data.client.email}}</span><br/>
	    </div>
	    <div class="col col-md-6">
	        <textarea id="message" name="message" class="form-control" ng-model="instance.data.message" style="height:200px; resize:none;" required></textarea><br/>
	        <button class="btn btn-info" ng-click="instance.notifyUser()" ng-disabled="!instance.data.message">Notificar</button>
	    </div>
	</div>
</div>
<div class="modal-body" style="font-size:12px;">
	<div class="row">
		<div class="col col-md-12">
			<h3>Deudas</h3>
			<div class="table-responsive">
				<table datatable="ng" class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Creación</th>
							<th>Monto</th>
							<th>Gastos de cobranza</th>
							<th>Interés moratorio</th>
							<th>Total</th>
							<th>Estatus</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="debt in instance.data.debts">
							<td>{{debt.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss' }}</td>
							<td>{{debt.amount | currency:'$':2}}</td>
							<td>{{debt.collection_fees | currency:'$':2}}</td>
							<td>{{debt.moratory_fees | currency:'$':2}}</td>
							<td>{{(debt.amount + debt.collection_fees + debt.moratory_fees) | currency:'$':2}}</td>
							<td>
								<span ng-if="debt.id_charges">
									<span class="label label-info">Pagado</span>
									{{instance.getCharge(debt.id_charges).paid_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}
								</span>
								<span ng-if="!debt.id_charges">
									<span class="label label-danger">Cobro automático</span>
									{{debt.next_try_to_charge | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY'}}
								</span>
							</td>
							<td>
								<button class="btn btn-info" ng-click="instance.charge(debt)">Realizar cargo</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col col-md-5">
			<h3>Subscripción</h3>
			<table datatable="ng" dt-options="{order:[]}" class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Evento</th>
						<th>Fecha</th>
						<th>Estatus</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="subscription_event in instance.data.subscription_events">
						<td>{{instance.tipos[subscription_event.type]}}</td>
						<td>{{subscription_event.date | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss' }}</td>
						<td>{{instance.estatus[subscription_event.subscription_status]}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col col-md-7">
			<h3>Cargos</h3>
			<table datatable="ng" dt-options="{order:[]}" class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Descripción</th>
						<th>Monto</th>
						<th>Devolución</th>
						<th>Error</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="charge in instance.data.charges" ng-class="{'danger':charge.status=='pending_payment'}">
						<td>{{charge.created_at | moment:'unix' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</td>
						<td>{{charge.description}}</td>
						<td>{{charge.amount / 100 | currency:'$':2}}</td>
						<td>{{charge.amount_refunded ? charge.amount_refunded / 100 : 0 | currency:'$':2}}</td>
						<td>{{charge.failure_message}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="instance.close()">Cancelar</button>
</div>
