<div class="passwordBox animated fadeInDown">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-content">
                <h2 class="font-bold">Reestablecer contraseña</h2>
                <p>Proporciona tu correo electrónico para enviarte los pasos a seguir para reestablecer tu contraseña</p>
                <div class="row">
                    <div class="col-lg-12">
                        <form class="m-t" role="form" action="#" name="requestResetPasswordForm" novalidate>
                            <div class="form-group" show-errors='{showSuccess: true}'>
                                <input 
                                    type="email"
                                    placeholder="Correo electrónico" 
                                    class="form-control"
                                    id="email"
                                    name="email"
                                    ng-model="data.email"
                                    required>
                                <p class="help-block" ng-if="requestResetPasswordForm.email.$error.required">El correo electrónico es requerido</p>
                                <p class="help-block" ng-if="requestResetPasswordForm.email.$invalid">Email inválido.</p>
                            </div>
                            <button type="button" class="btn btn-info block full-width m-b" ladda="data.loading" data-style="zoom-in" data-spinner-color="#3e495f" data-spinner-size="20" ng-click="requestResetPassword(requestResetPasswordForm, data)">Continuar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            Aguagente
        </div>
        <div class="col-md-6 text-right">
            <!--<small>© 2014-2015</small>-->
        </div>
    </div>
</div>