<style type="text/css">
	.h6 {
		font-size:10px;
	}
	.h5 {
		font-size:11px;
	}
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Encuestas</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="animated fadeInDown">
                <div class="ibox float-e-margins">
	                <div class="ibox-title">
	                    <h5>Listado</h5>
	                    <button class="btn btn-success pull-right" ng-click="add()"><i class="fa fa-plus fa-fw"></i>Agregar encuesta</button>
	                    <div class="clearfix"></div>
	                </div>
	                <div class="ibox-content table-responsive">
	                    <table datatable="ng" dt-options="data.dtOptions" dt-column-defs="data.dtColumnDefs" class="table table-striped table-hover dataTables-example">
	                        <thead>
	                            <tr>
	                                <th>Nombre</th>
	                                <th>Fecha inicio</th>
	                                <th>Fecha fin</th>
	                                <th></th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="poll in data.polls" ng-init="poll.loading = false;">
	                                <td>{{poll.name}}</td>
	                                <td>{{poll.start_date | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</td>
	                                <td>{{poll.end_date | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</td>
	                                <td>
										<div class="btn-group btn-group-sm">
				                            <button 
				                            	class="btn btn-default" 
				                            	ladda="poll.loading" 
				                            	data-style="zoom-in" 
				                            	data-spinner-color="#3e495f" 
				                            	data-spinner-size="20"
				                            	ng-click="view(poll)">
			                            		<i class="fa fa-search fa-fw"></i>Ver
		                            		</button>
				                            <button 
				                            	class="btn btn-info"
				                            	ladda="poll.loading" 
				                            	data-style="zoom-in" 
				                            	data-spinner-color="#3e495f" 
				                            	data-spinner-size="20"
				                            	ng-click="edit(poll)">
				                            	<i class="fa fa-pencil fa-fw"></i>Editar
			                            	</button>
				                            <button 
				                            	class="btn btn-primary" 
				                            	ladda="poll.loading" 
				                            	data-style="zoom-in" 
				                            	data-spinner-color="#3e495f" 
				                            	data-spinner-size="20"
				                            	ng-click="reviewAnswers(poll)">
			                            		<i class="fa fa-eye fa-fw"></i> Ver respuestas de clientes
		                            		</button>
				                            <button 
				                            	class="btn btn-danger" 
				                            	ladda="poll.loading" 
				                            	data-style="zoom-in" 
				                            	data-spinner-color="#3e495f" 
				                            	data-spinner-size="20"
				                            	ng-click="delete(poll)">
			                            		<i class="fa fa-trash fa-fw"></i> Borrar
		                            		</button>
				                        </div>
									</td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>
	            </div>
            </div>
        </div>
    </div>
</div>