<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="" ng-click="toggleFullscreen()">
                    <i class="fa" ng-class="{'fa-expand':!isFullscreen(), 'fa-compress': isFullscreen()}"></i>
                </a>
            </li>
            <li>
                <a href="" ng-click="logout()">
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>